<div class="pow full-height no-overflow inset-grey">
  <div class="col-3 v-center" #cardParent>
    <app-member-profile-card [member]="member">
      <div class="btn-group d-flex" style="gap: 1rem;">
        <button class="btn btn-cozy">Like</button>
        <button class="btn btn-good-blue" (click)="selectTab(3)">Message</button>
      </div>
    </app-member-profile-card>
  </div>
  <div class="col-9 v-center animate-faster" [style.height.px]="cardParent.offsetHeight">
    <tabset class="member-tabset" [class.onMessages]="onMessages" #tabs>
      <tab heading='About {{ member.knownAs }}'>
        <app-about [lookingFor]="member.lookingFor" [introduction]="member.introduction"></app-about>
      </tab>
      <tab heading='Interests'>
        <app-interests [interests]="member.interests"></app-interests>
      </tab>
      <tab heading='Photos'>
        <app-photos [photos]="member.photos"></app-photos>
      </tab>
      <tab heading='Messages' customClass="messages" (selectTab)="onMessages = true" (deselect)="onMessages = false">
        <app-messages-tab [username]="member.username" *ngIf="onMessages"></app-messages-tab>
      </tab>
    </tabset>
  </div>
</div>