<nav class="navbar navbar-expand-lg navbar-dark bg-primary-darker fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Dating App</a>
    <ng-container *ngIf="accountService.currentUser$ | async as user">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/members">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/lists">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/messages">Messages</a>
      </li>
    </ul>
    <div class="dropdown" dropdown>
      <img [src]="user.photoUrl" [alt]="user.username">
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome <span class="badge badge-pill badge-light">{{ user.username | titlecase }}</span>
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit" routerLinkActive="active" >Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item disabled">Errors</a>

        <a class="dropdown-item" (click)="internalserver()">500</a>
        <a class="dropdown-item" (click)="br()">400</a>
        <a class="dropdown-item" (click)="auth()">401</a>
        <a class="dropdown-item" (click)="nf()">404</a>
      </div>
    </div>
  </ng-container>
    <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
      <input type="text" class="form-control mr-sm-2" placeholder="Username" name="username" [(ngModel)]="model.username">
      <input type="password" class="form-control mr-sm-2" placeholder="Password" name="password" [(ngModel)]="model.password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>