<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Dating App</a>
    <ng-container *ngIf="(accountService.currentUser$ | async) as user">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
      </li>
    </ul>
    <div class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome <span class="badge badge-pill badge-light">{{user.username}}</span>
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
  </ng-container>
    <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
      <input type="text" class="form-control mr-sm-2" placeholder="Username" name="username" [(ngModel)]="model.username">
      <input type="password" class="form-control mr-sm-2" placeholder="Password" name="password" [(ngModel)]="model.password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>